@font-face {
    font-family: 'SF Pro';
    src: url('assets/fonts/SF-Pro.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to bottom, #2C4366, #B8CAE5); */
    font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, "San Francisco", Helvetica, Arial, sans-serif;
    color: white;
    
}

.main-screen {
    width: 430px;
    height: 932px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #2C4366, #B8CAE5);
    border-radius: 20px;
    /* background: inherit; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-bar, .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.title-bar h1 {
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin:0;
}

.edit-button {
    background: transparent;
    border: 1px solid white;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.main-area {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card.small-card {
    flex: 1;
    text-align: center;
    padding: 5px 10px;
}

.card.message-card {
    flex: 2;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 10px;
    text-align: center; 
}

.card.message-card .message-text {
    flex: 1;
    text-align: left; 
    
}

.card.message-card .umbrella-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: 10px;
}

.card {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    background: rgba(14, 26, 35, 0.5);
    text-align: center;
    
}

.card .element-row {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 5px;
}

.message-text p {
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
    line-height: 1.5;
}

.card-title {
    font-size: 15px; 
    margin: 5px 0;
}

.time {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    margin-bottom:5px;
    color: white;
}

/* STARTING TOP SECTION */


.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-info .left-column,
.weather-info .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather-info .temperature {
    font-size: 48px;
    margin: 0;
    font-weight: bold;
}


.weather-info .feels-like {
    font-size: 16px;
    margin: 2px 0;
    color: #d6e3f6;
}

.weather-info .feels-like strong {
    font-weight: bold;
    color: white;
}

.weather-info .high-low {
    font-size: 19px;
    margin: 1px 0;
    color: #d6e3f6;
}

.weather-info .high-low strong {
    font-weight: bold;
    color: white;
}

.weather-info .icon-row {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.weather-info .weather-icon {
    width: 85px;
    height: 50px;
}

.precipitation-info {
    text-align: center;
}

.precipitation-label {
    font-size: 14px;
    margin: 0;
    color: #ffffff;
}

.precipitation-value {
    font-size: 16px;
    margin: 5px;
    color: white;
    font-weight: bold;
}

.weather-info .weather-description {
    font-size: 20px;
    margin-top: 15px;
    color: white;
    text-align: center;
}

.weather-desc {
    flex-grow: 1;
    width: 50px;
    text-align: left;
}

/* STARTING METRICS SECTION */


.metrics-row {
    display: flexbox;
    justify-content: space-between;
    margin-top: 20px;
}

.metric-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding: 10px;
    border-radius: 10px;
    background: rgba(14, 26, 35, 0.5); 
    text-align: center;
}

.metric-card p {
    margin: 3px 0;
    color: white;
}

.metric-card .metric {
    font-size: 24px;
    font-weight: bold;
    margin: 5px 0;
}

.metric-card p:first-child {
    font-size: 12px;
    text-transform: uppercase;
}

.metric-card p:last-child {
    font-size: 14px; 
    font-weight: bold;
}

/* STARTING THREE DAY FORECAST SECTION */

.three-day-forecast{
    padding: 0px 15px;
    padding-bottom:12px;
    border-radius: 10px;
    background: rgba(14, 26, 35, 0.5);
}

.three-day-header {
    display: flex;
    align-items: center;
    justify-content: start;
}

.forecast-title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 10px;
}

.day-title {
    width:100px;
    margin: 5px 0;
    color: white;
}

.day-row {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 8px;
    margin-bottom: 5px;
    background: rgba(14, 26, 35, 0.5);
    border-radius: 8px;
}

/* STARTING HOURLY FORECAST */

.forecast-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    margin-right: 40px;
}

.temp-gap {
    margin-right: 10px;
}

.day-row p {
    margin: 0;
    font-size: 14px;
}

.hourly-forecast-header {
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hourly-forecast-card{
    padding: 0px 0px;
    border-radius: 10px;
    background: rgba(14, 26, 35, 0.5);
}

.feels-like {
    font-size: 14px;
    color: #B8CAE5;
    padding-left:130px;
    stroke: #B8CAE5;
}

.scrollable-hourly {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    border-top: 0.2px solid rgba(14, 26, 35, 0.7);
    padding: 0;
    padding-left: 10px;
    background-color: rgba(14, 26, 35, 0.3);
}

.hourly-rows {
    display: flex;
    gap: 15px;
}

.hourly-column {
    display: flexbox;
    flex-direction:column;
    align-items:center;
    min-width:60px;
    text-align: center;
}

.hourly-column img, .day-row img {
    width: 20px;
    height: 20px;
}

.hourly-temp {
    color: #B8CAE5;
}

.y-line {
    stroke: rgba(200, 200, 200, 0.5);
    stroke-width: 1;
}

.y-axis {
    position: absolute; 
    left: 0; 
    top: 165px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #B8CAE5;
    font-size: 12px;
    text-align: right;
    padding-left: 5px;
    z-index: 2;
}

.chart-container {
    white-space: nowrap;
    margin-left: 10px;
}

.chart {
    position: relative;
    margin-left: 10px;
    overflow: hidden;
}

svg {
    width: 550px;
    height: 100%;
}

.line {
    stroke-width: 2;
    fill: none;
}

.actual {
    stroke: #ffffff;
}
